<?xml version="1.0"?>
<robot name="jetson_car" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />

  <xacro:include filename="jetson_car_core.xacro" />

  <xacro:include filename="jetson_car.ros2_control.xacro" />
  <xacro:jetson_car_ros2_control use_sim="$(arg use_sim)" />

  <xacro:if value="$(arg use_sim)">
    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find vehicle_hardware)/config/controllers.yaml</parameters>
      </plugin>
      
      <plugin filename="libignition-gazebo-odometry-publisher-system.so" name="ignition::gazebo::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <odom_topic>/model/jetson_car/ground_truth</odom_topic> 
        <odom_publish_frequency>50</odom_publish_frequency>
        <dimensions>3</dimensions>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>